pre {outline: 1px solid #ccc; padding: 15px; margin: 5px; width: 100vh}
.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }
.block{
    width: 400px;
    display: block;
    margin:5px 0;
}
.center{
    text-align: center;
}
label {
    display: inline-block;
    width: 100px;
    text-align: right;
}
input,textarea{
    vertical-align: top;
}
button {
    display: inline-block;
    width: 100px;
    text-align: center;
}
